.down{
    position:absolute;
    top:50%
    left: 00%
    transform: translate(-50%, -50%);
}
.down a{
color: gray;
}

.user {
border: 5px ridge #000;
background-color: gray;
padding: 0.5rem;
display: flex;
flex-direction: column;
}
